
.navbar.navbar-custom {
  height: 50px;
  background: -webkit-linear-gradient(top, #41065e, #701d98);
  background: -o-linear-gradient(top, #41065e, #701d98);
  background: -moz-linear-gradient(top, #41065e, #701d98);
  background: linear-gradient(to top, #41065e, #701d98);
  border-radius: 10px 10px 0 0;
  border: none;
}
.navbar-custom .formSearch {
  width: 300px;
  float: left;
  display: block;
  position: absolute;
  padding-top: 7px;
}
.navbar-custom .form-control {
  font-size: 1.7rem;
  padding: 7px;
  background-color: #41065e;
  color: #c5c5c5;
  outline: none;
  border: none;
  -webkit-box-shadow: inset 0px 0px 3px 0px #FBFBFB;
  -moz-box-shadow: inset 0px 0px 3px 0px #FBFBFB;
  box-shadow: inset 0px 0px 3px 0px #FBFBFB;
}
.navbar-custom .inner-addon {
  position: relative;
}
.navbar-custom .inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  color: white;
}
.navbar-custom .left-addon .glyphicon {
  left: 0px;
}
.navbar-custom .left-addon input {
  padding-left: 30px;
}
.navbar-custom .navbar-header .navbar-toggle,
.navbar-custom .navbar-header .navbar-toggle:hover,
.navbar-custom .navbar-header .navbar-toggle:focus {
  border: none;
  background: none;
}
.navbar-custom .navbar-header .navbar-toggle .icon-bar {
  background: white;
}
.navbar-custom .collapse .navbar-nav > li > a {
  color: white;
}
.navbar-custom .collapse .navbar-nav > li:hover {
  background-color: #8245a0;
  border-radius: 5px;
}
@media (max-width: 767px) {
  .navbar-custom .formSearch {
    padding-right: 15px;
    width: 70%;
  }
  .navbar-custom .navbar-collapse {
    background: -webkit-linear-gradient(top, #41065e, #701d98);
    background: -o-linear-gradient(top, #41065e, #701d98);
    background: -moz-linear-gradient(top, #41065e, #701d98);
    background: linear-gradient(to top, #41065e, #701d98);
  }

#home{
	position: absolute;
    margin-left: -100px;
    left: 20%;
    width: 1000px;
    
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {

	display: block;
	width: 100%;
	line-height: 1;
	margin: 0 auto;
	
}

